* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #a1a7cf;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table {
    margin: auto;
    height: 480px;
    width: 480px;
    background-color: white;
    border-collapse: collapse;
    border: 5px solid #4a4e69;
}

td {
    height: 7%;
    width: 7%;
    font-size: 20px;
}

.sky {
    background-color: black;
}

.earth {
    background-color: #4a4e69;
}

.btn {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 17px;
    width: 100px;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #4a4e69;
    cursor: pointer;
}